<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
</head>

<body>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">RMS</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="user/list">Users</a>
            <a class="mdl-navigation__link" href="user/new">New</a>
            <a class="mdl-navigation__link" href="user/save">Save</a>
            <a class="mdl-navigation__link" href="user/loginForm">Login</a>
          </nav>
        </div>
      </header>
     
      </main>
    </div>
</body>
</html>